<div class="container">
  <div class="card">

 <div class="col-sm-12"><p><center>Search for papers to see notes others have added or to add your own notes &#129299</center></p></div>
     <%= form_with scope: :article, url: articles_path, class: "form-inline col-sm-8 offset-sm-2 mb-4", local: true do |f| %>
    <%= f.text_field :url, class: 'form-control col-sm-10 my-1', placeholder: "Enter arxiv link e.g. https://arxiv.org/abs/1406.2661"%>
    <%= f.submit "Search", class: "btn btn-primary col-sm-2 my-1" %>
    <% end %>   



</div>
</div>

<!-- <%= image_tag("kitten.jpg") %> -->